DATABASE_URL="postgresql://todos:devpass@localhost:5432/todos?schema=public"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
BETTER_AUTH_SECRET="replace-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:4000"
